@page "/"

<PageTitle>Home</PageTitle>

<!-- hero area start -->
<div class="tp-hero-2-area p-relative z-index">
    <div class="tp-hero-2-shape-2">
        <img src="/img/hero/shape-2-1.png" alt="">
    </div>
    <div class="tp-hero-2-wrapper fix z-index">
        <div class="tp-hero-2-shape-1">
            <img src="/img/shape/hero/shape-2-1.png" alt="">
        </div>
        <div class="tp-hero-2-bg" data-background="img/hero/hero-2-1.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-xl-7 col-lg-8">
                        <div class="tp-hero-2-content">
                            <h1 class="tp-hero-2-title text-white pb-60">
                                Everything you need, <br>
                                in same platform
                            </h1>
                            <div class="tp-hero-input-wrap mb-25 d-flex justify-content-between align-items-center">
                                <div class="tp-hero-input-box p-relative">
                                    <input type="text" placeholder="Keyword...">
                                    <div class="tp-hero-input-text">
                                        <span>Find</span>
                                    </div>
                                </div>
                                <div class="tp-hero-input-box tp-hero-input-pl  p-relative">
                                    <input type="text" placeholder="City or zipcode">
                                    <div class="tp-hero-input-text">
                                        <span>Where</span>
                                    </div>
                                </div>
                                <div class="tp-hero-button">
                                    <button class="tp-btn-theme hover-2">
                                        <span>
                                            Search Now
                                            <i class="fa-sharp fa-regular fa-arrow-right-long"></i>
                                        </span>
                                    </button>
                                </div>
                            </div>
                            <div class="tp-hero-2-text">
                                <span>
                                    Related Search:
                                    <a class="" onclick="@(() => NavigationManager.NavigateTo($"category/2", true))" role="button">Rent Cars,</a>
                                    <a class="" onclick="@(() => NavigationManager.NavigateTo($"category/8", true))" role="button">Food,</a>
                                    <a onclick="@(() => NavigationManager.NavigateTo($"category/1", true))" role="button">Airport Rides,</a>
                                    <a onclick="@(()=> NavigationManager.NavigateTo($"category/3", true))" role="button">Automotive Services</a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- hero area end -->
<!-- category area start -->
<ListAdCategoriesComponent />
<!-- category area end -->
<!-- feature-ads area end -->
<div class="tp-fea-ads-area tp-fea-ads-bg p-relative z-index pt-115 pb-110">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="tp-fea-ads-title-box text-center pb-65">
                    <span class="tp-section-subtitle-3">Recently Added</span>
                    <h4 class="tp-section-title">Featured <span>ads</span></h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="tp-fea-ads-tab-box pb-40">
                <ul class="nav nav-tab justify-content-center" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home"
                                type="button" role="tab" aria-controls="home" aria-selected="true">
                            Home
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile"
                                type="button" role="tab" aria-controls="profile" aria-selected="false">
                            Profile
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact"
                                type="button" role="tab" aria-controls="contact" aria-selected="false">
                            Contact
                        </button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="tp-fea-ads-wrapper">
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <div class="row">
                                <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-50">
                                    <div class="tp-fea-ads-item">
                                        <div class="tp-fea-ads-thumb-box p-relative">
                                            <div class="tp-fea-ads-thumb">
                                                <a href="listing-details-1.html">
                                                    <img src="/img/fea-ads/ads-1-1.png"
                                                         alt="">
                                                </a>
                                            </div>
                                            <div class="tp-fea-ads-avata">
                                                <img src="/img/avata/avata-1-1.html" alt="">
                                            </div>
                                            <div class="tp-fea-ads-tag">
                                                <span>Verified</span>
                                            </div>
                                        </div>
                                        <div class="tp-fea-ads-content">
                                            <div class="tp-fea-ads-meta">
                                                <span class="color">accessories</span>
                                                <span><i class="fa-light fa-clock"></i> 1 Days ago</span>
                                            </div>
                                            <h4 class="tp-fea-ads-title">
                                                <a href="listing-details-1.html">
                                                    Troma ipod duel
                                                    headphone
                                                </a>
                                            </h4>
                                            <div class="tp-fea-ads-text">
                                                <p>
                                                    Intel Core i5-8350U (8th Gen), 8 GB
                                                    ram, 256 GB SSD, 2400 MHz...
                                                </p>
                                            </div>
                                            <div class="tp-fea-ads-bottom d-flex align-items-center justify-content-between">
                                                <div class="tp-fea-ads-location">
                                                    <span><i class="fa-light fa-location-dot"></i> New York</span>
                                                </div>
                                                <div class="tp-fea-ads-price">
                                                    <span>$3000</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-50">
                                    <div class="tp-fea-ads-item">
                                        <div class="tp-fea-ads-thumb-box p-relative">
                                            <div class="tp-fea-ads-thumb">
                                                <a href="listing-details-1.html">
                                                    <img src="/img/fea-ads/ads-1-2.png"
                                                         alt="">
                                                </a>
                                            </div>
                                            <div class="tp-fea-ads-avata">
                                                <img src="/img/avata/avata-1-1.html" alt="">
                                            </div>
                                            <div class="tp-fea-ads-tag">
                                                <span>Verified</span>
                                            </div>
                                        </div>
                                        <div class="tp-fea-ads-content">
                                            <div class="tp-fea-ads-meta">
                                                <span class="color">accessories</span>
                                                <span><i class="fa-light fa-clock"></i> 1 Days ago</span>
                                            </div>
                                            <h4 class="tp-fea-ads-title">
                                                <a href="listing-details-1.html">
                                                    Nelson furnish
                                                    leather sofa
                                                </a>
                                            </h4>
                                            <div class="tp-fea-ads-text">
                                                <p>
                                                    Intel Core i5-8350U (8th Gen), 8 GB
                                                    ram, 256 GB SSD, 2400 MHz...
                                                </p>
                                            </div>
                                            <div class="tp-fea-ads-bottom d-flex align-items-center justify-content-between">
                                                <div class="tp-fea-ads-location">
                                                    <span><i class="fa-light fa-location-dot"></i> New York</span>
                                                </div>
                                                <div class="tp-fea-ads-price">
                                                    <span>$3000</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-50">
                                    <div class="tp-fea-ads-item">
                                        <div class="tp-fea-ads-thumb-box p-relative">
                                            <div class="tp-fea-ads-thumb">
                                                <a href="listing-details-1.html">
                                                    <img src="/img/fea-ads/ads-1-3.png"
                                                         alt="">
                                                </a>
                                            </div>
                                            <div class="tp-fea-ads-avata">
                                                <img src="/img/avata/avata-1-1.html" alt="">
                                            </div>
                                            <div class="tp-fea-ads-tag">
                                                <span>Verified</span>
                                            </div>
                                        </div>
                                        <div class="tp-fea-ads-content">
                                            <div class="tp-fea-ads-meta">
                                                <span class="color">accessories</span>
                                                <span><i class="fa-light fa-clock"></i> 1 Days ago</span>
                                            </div>
                                            <h4 class="tp-fea-ads-title">
                                                <a href="listing-details-1.html">
                                                    Aston new
                                                    bycycle
                                                </a>
                                            </h4>
                                            <div class="tp-fea-ads-text">
                                                <p>
                                                    Intel Core i5-8350U (8th Gen), 8 GB
                                                    ram, 256 GB SSD, 2400 MHz...
                                                </p>
                                            </div>
                                            <div class="tp-fea-ads-bottom d-flex align-items-center justify-content-between">
                                                <div class="tp-fea-ads-location">
                                                    <span><i class="fa-light fa-location-dot"></i> New York</span>
                                                </div>
                                                <div class="tp-fea-ads-price">
                                                    <span>$3000</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-50">
                                    <div class="tp-fea-ads-item">
                                        <div class="tp-fea-ads-thumb-box p-relative">
                                            <div class="tp-fea-ads-thumb">
                                                <a href="listing-details-1.html">
                                                    <img src="/img/fea-ads/ads-1-4.png"
                                                         alt="">
                                                </a>
                                            </div>
                                            <div class="tp-fea-ads-avata">
                                                <img src="/img/avata/avata-1-1.html" alt="">
                                            </div>
                                            <div class="tp-fea-ads-tag">
                                                <span>Verified</span>
                                            </div>
                                        </div>
                                        <div class="tp-fea-ads-content">
                                            <div class="tp-fea-ads-meta">
                                                <span class="color">accessories</span>
                                                <span><i class="fa-light fa-clock"></i> 1 Days ago</span>
                                            </div>
                                            <h4 class="tp-fea-ads-title">
                                                <a href="listing-details-1.html">
                                                    Apple laptop
                                                    inspiring 15 inch
                                                </a>
                                            </h4>
                                            <div class="tp-fea-ads-text">
                                                <p>
                                                    Intel Core i5-8350U (8th Gen), 8 GB
                                                    ram, 256 GB SSD, 2400 MHz...
                                                </p>
                                            </div>
                                            <div class="tp-fea-ads-bottom d-flex align-items-center justify-content-between">
                                                <div class="tp-fea-ads-location">
                                                    <span><i class="fa-light fa-location-dot"></i> New York</span>
                                                </div>
                                                <div class="tp-fea-ads-price">
                                                    <span>$3000</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                            <div class="row">
                                <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-50">
                                    <div class="tp-fea-ads-item">
                                        <div class="tp-fea-ads-thumb-box p-relative">
                                            <div class="tp-fea-ads-thumb">
                                                <a href="listing-details-1.html">
                                                    <img src="/img/fea-ads/ads-1-3.png"
                                                         alt="">
                                                </a>
                                            </div>
                                            <div class="tp-fea-ads-avata">
                                                <img src="/img/avata/avata-1-1.html" alt="">
                                            </div>
                                            <div class="tp-fea-ads-tag">
                                                <span>Verified</span>
                                            </div>
                                        </div>
                                        <div class="tp-fea-ads-content">
                                            <div class="tp-fea-ads-meta">
                                                <span class="color">accessories</span>
                                                <span><i class="fa-light fa-clock"></i> 1 Days ago</span>
                                            </div>
                                            <h4 class="tp-fea-ads-title">
                                                <a href="listing-details-1.html">
                                                    Aston new
                                                    bycycle
                                                </a>
                                            </h4>
                                            <div class="tp-fea-ads-text">
                                                <p>
                                                    Intel Core i5-8350U (8th Gen), 8 GB
                                                    ram, 256 GB SSD, 2400 MHz...
                                                </p>
                                            </div>
                                            <div class="tp-fea-ads-bottom d-flex align-items-center justify-content-between">
                                                <div class="tp-fea-ads-location">
                                                    <span><i class="fa-light fa-location-dot"></i> New York</span>
                                                </div>
                                                <div class="tp-fea-ads-price">
                                                    <span>$3000</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-50">
                                    <div class="tp-fea-ads-item">
                                        <div class="tp-fea-ads-thumb-box p-relative">
                                            <div class="tp-fea-ads-thumb">
                                                <a href="listing-details-1.html">
                                                    <img src="/img/fea-ads/ads-1-4.png"
                                                         alt="">
                                                </a>
                                            </div>
                                            <div class="tp-fea-ads-avata">
                                                <img src="/img/avata/avata-1-1.html" alt="">
                                            </div>
                                            <div class="tp-fea-ads-tag">
                                                <span>Verified</span>
                                            </div>
                                        </div>
                                        <div class="tp-fea-ads-content">
                                            <div class="tp-fea-ads-meta">
                                                <span class="color">accessories</span>
                                                <span><i class="fa-light fa-clock"></i> 1 Days ago</span>
                                            </div>
                                            <h4 class="tp-fea-ads-title">
                                                <a href="listing-details-1.html">
                                                    Apple laptop
                                                    inspiring 15 inch
                                                </a>
                                            </h4>
                                            <div class="tp-fea-ads-text">
                                                <p>
                                                    Intel Core i5-8350U (8th Gen), 8 GB
                                                    ram, 256 GB SSD, 2400 MHz...
                                                </p>
                                            </div>
                                            <div class="tp-fea-ads-bottom d-flex align-items-center justify-content-between">
                                                <div class="tp-fea-ads-location">
                                                    <span><i class="fa-light fa-location-dot"></i> New York</span>
                                                </div>
                                                <div class="tp-fea-ads-price">
                                                    <span>$3000</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-50">
                                    <div class="tp-fea-ads-item">
                                        <div class="tp-fea-ads-thumb-box p-relative">
                                            <div class="tp-fea-ads-thumb">
                                                <a href="listing-details-1.html">
                                                    <img src="/img/fea-ads/ads-1-1.png"
                                                         alt="">
                                                </a>
                                            </div>
                                            <div class="tp-fea-ads-avata">
                                                <img src="/img/avata/avata-1-1.html" alt="">
                                            </div>
                                            <div class="tp-fea-ads-tag">
                                                <span>Verified</span>
                                            </div>
                                        </div>
                                        <div class="tp-fea-ads-content">
                                            <div class="tp-fea-ads-meta">
                                                <span class="color">accessories</span>
                                                <span><i class="fa-light fa-clock"></i> 1 Days ago</span>
                                            </div>
                                            <h4 class="tp-fea-ads-title">
                                                <a href="listing-details-1.html">
                                                    Troma ipod duel
                                                    headphone
                                                </a>
                                            </h4>
                                            <div class="tp-fea-ads-text">
                                                <p>
                                                    Intel Core i5-8350U (8th Gen), 8 GB
                                                    ram, 256 GB SSD, 2400 MHz...
                                                </p>
                                            </div>
                                            <div class="tp-fea-ads-bottom d-flex align-items-center justify-content-between">
                                                <div class="tp-fea-ads-location">
                                                    <span><i class="fa-light fa-location-dot"></i> New York</span>
                                                </div>
                                                <div class="tp-fea-ads-price">
                                                    <span>$3000</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-50">
                                    <div class="tp-fea-ads-item">
                                        <div class="tp-fea-ads-thumb-box p-relative">
                                            <div class="tp-fea-ads-thumb">
                                                <a href="listing-details-1.html">
                                                    <img src="/img/fea-ads/ads-1-2.png"
                                                         alt="">
                                                </a>
                                            </div>
                                            <div class="tp-fea-ads-avata">
                                                <img src="/img/avata/avata-1-1.html" alt="">
                                            </div>
                                            <div class="tp-fea-ads-tag">
                                                <span>Verified</span>
                                            </div>
                                        </div>
                                        <div class="tp-fea-ads-content">
                                            <div class="tp-fea-ads-meta">
                                                <span class="color">accessories</span>
                                                <span><i class="fa-light fa-clock"></i> 1 Days ago</span>
                                            </div>
                                            <h4 class="tp-fea-ads-title">
                                                <a href="listing-details-1.html">
                                                    Nelson furnish
                                                    leather sofa
                                                </a>
                                            </h4>
                                            <div class="tp-fea-ads-text">
                                                <p>
                                                    Intel Core i5-8350U (8th Gen), 8 GB
                                                    ram, 256 GB SSD, 2400 MHz...
                                                </p>
                                            </div>
                                            <div class="tp-fea-ads-bottom d-flex align-items-center justify-content-between">
                                                <div class="tp-fea-ads-location">
                                                    <span><i class="fa-light fa-location-dot"></i> New York</span>
                                                </div>
                                                <div class="tp-fea-ads-price">
                                                    <span>$3000</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                            <div class="row">
                                <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-50">
                                    <div class="tp-fea-ads-item">
                                        <div class="tp-fea-ads-thumb-box p-relative">
                                            <div class="tp-fea-ads-thumb">
                                                <a href="listing-details-1.html">
                                                    <img src="/img/fea-ads/ads-1-4.png"
                                                         alt="">
                                                </a>
                                            </div>
                                            <div class="tp-fea-ads-avata">
                                                <img src="/img/avata/avata-1-1.html" alt="">
                                            </div>
                                            <div class="tp-fea-ads-tag">
                                                <span>Verified</span>
                                            </div>
                                        </div>
                                        <div class="tp-fea-ads-content">
                                            <div class="tp-fea-ads-meta">
                                                <span class="color">accessories</span>
                                                <span><i class="fa-light fa-clock"></i> 1 Days ago</span>
                                            </div>
                                            <h4 class="tp-fea-ads-title">
                                                <a href="listing-details-1.html">
                                                    Apple laptop
                                                    inspiring 15 inch
                                                </a>
                                            </h4>
                                            <div class="tp-fea-ads-text">
                                                <p>
                                                    Intel Core i5-8350U (8th Gen), 8 GB
                                                    ram, 256 GB SSD, 2400 MHz...
                                                </p>
                                            </div>
                                            <div class="tp-fea-ads-bottom d-flex align-items-center justify-content-between">
                                                <div class="tp-fea-ads-location">
                                                    <span><i class="fa-light fa-location-dot"></i> New York</span>
                                                </div>
                                                <div class="tp-fea-ads-price">
                                                    <span>$3000</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-50">
                                    <div class="tp-fea-ads-item">
                                        <div class="tp-fea-ads-thumb-box p-relative">
                                            <div class="tp-fea-ads-thumb">
                                                <a href="listing-details-1.html">
                                                    <img src="/img/fea-ads/ads-1-1.png"
                                                         alt="">
                                                </a>
                                            </div>
                                            <div class="tp-fea-ads-avata">
                                                <img src="/img/avata/avata-1-1.html" alt="">
                                            </div>
                                            <div class="tp-fea-ads-tag">
                                                <span>Verified</span>
                                            </div>
                                        </div>
                                        <div class="tp-fea-ads-content">
                                            <div class="tp-fea-ads-meta">
                                                <span class="color">accessories</span>
                                                <span><i class="fa-light fa-clock"></i> 1 Days ago</span>
                                            </div>
                                            <h4 class="tp-fea-ads-title">
                                                <a href="listing-details-1.html">
                                                    Troma ipod duel
                                                    headphone
                                                </a>
                                            </h4>
                                            <div class="tp-fea-ads-text">
                                                <p>
                                                    Intel Core i5-8350U (8th Gen), 8 GB
                                                    ram, 256 GB SSD, 2400 MHz...
                                                </p>
                                            </div>
                                            <div class="tp-fea-ads-bottom d-flex align-items-center justify-content-between">
                                                <div class="tp-fea-ads-location">
                                                    <span><i class="fa-light fa-location-dot"></i> New York</span>
                                                </div>
                                                <div class="tp-fea-ads-price">
                                                    <span>$3000</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-50">
                                    <div class="tp-fea-ads-item">
                                        <div class="tp-fea-ads-thumb-box p-relative">
                                            <div class="tp-fea-ads-thumb">
                                                <a href="listing-details-1.html">
                                                    <img src="/img/fea-ads/ads-1-3.png"
                                                         alt="">
                                                </a>
                                            </div>
                                            <div class="tp-fea-ads-avata">
                                                <img src="/img/avata/avata-1-1.html" alt="">
                                            </div>
                                            <div class="tp-fea-ads-tag">
                                                <span>Verified</span>
                                            </div>
                                        </div>
                                        <div class="tp-fea-ads-content">
                                            <div class="tp-fea-ads-meta">
                                                <span class="color">accessories</span>
                                                <span><i class="fa-light fa-clock"></i> 1 Days ago</span>
                                            </div>
                                            <h4 class="tp-fea-ads-title">
                                                <a href="listing-details-1.html">
                                                    Aston new
                                                    bycycle
                                                </a>
                                            </h4>
                                            <div class="tp-fea-ads-text">
                                                <p>
                                                    Intel Core i5-8350U (8th Gen), 8 GB
                                                    ram, 256 GB SSD, 2400 MHz...
                                                </p>
                                            </div>
                                            <div class="tp-fea-ads-bottom d-flex align-items-center justify-content-between">
                                                <div class="tp-fea-ads-location">
                                                    <span><i class="fa-light fa-location-dot"></i> New York</span>
                                                </div>
                                                <div class="tp-fea-ads-price">
                                                    <span>$3000</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-50">
                                    <div class="tp-fea-ads-item">
                                        <div class="tp-fea-ads-thumb-box p-relative">
                                            <div class="tp-fea-ads-thumb">
                                                <a href="listing-details-1.html">
                                                    <img src="/img/fea-ads/ads-1-2.png"
                                                         alt="">
                                                </a>
                                            </div>
                                            <div class="tp-fea-ads-avata">
                                                <img src="/img/avata/avata-1-1.html" alt="">
                                            </div>
                                            <div class="tp-fea-ads-tag">
                                                <span>Verified</span>
                                            </div>
                                        </div>
                                        <div class="tp-fea-ads-content">
                                            <div class="tp-fea-ads-meta">
                                                <span class="color">accessories</span>
                                                <span><i class="fa-light fa-clock"></i> 1 Days ago</span>
                                            </div>
                                            <h4 class="tp-fea-ads-title">
                                                <a href="listing-details-1.html">
                                                    Nelson furnish
                                                    leather sofa
                                                </a>
                                            </h4>
                                            <div class="tp-fea-ads-text">
                                                <p>
                                                    Intel Core i5-8350U (8th Gen), 8 GB
                                                    ram, 256 GB SSD, 2400 MHz...
                                                </p>
                                            </div>
                                            <div class="tp-fea-ads-bottom d-flex align-items-center justify-content-between">
                                                <div class="tp-fea-ads-location">
                                                    <span><i class="fa-light fa-location-dot"></i> New York</span>
                                                </div>
                                                <div class="tp-fea-ads-price">
                                                    <span>$3000</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-4">
                <div class="tp-fea-ads-button text-center">
                    <a class="tp-btn-border" href="listing-grid.html">
                        <span>
                            More Items
                            <i class="fa-sharp fa-regular fa-arrow-right-long"></i>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- feature-ads area end -->
<!-- promotion-ads area start -->
<div class="tp-promotion-area tp-promotion-bg">
    <div class="container">
        <div class="tp-promotion-wrap">
            <div class="row">
                <div class="col-xl-6 col-lg-6">
                    <div class="tp-promotion-item d-flex align-items-start">
                        <div class="tp-promotion-icon">
                            <img src="/img/fea-ads/promotion-1-1.png" alt="">
                        </div>
                        <div class="tp-promotion-content">
                            <div>
                                <h4 class="tp-promotion-title">Start making money!</h4>
                                <p class="pb-10">
                                    Do you have something to sell? Post your first ad and start <br>
                                    making money!
                                </p>
                            </div>
                            <div class="tp-promotion-link">
                                <a href="listing-ads.html">post free ads</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="tp-promotion-item item-style-2 d-flex align-items-start">
                        <div class="tp-promotion-icon">
                            <img src="/img/fea-ads/promotion-1-2.png" alt="">
                        </div>
                        <div class="tp-promotion-content">
                            <div class="tp-promotion-content-thumb">
                                <img class="pb-10" src="/img/fea-ads/promotion-1-3.png" alt="">
                                <p class="pb-10">Pay only $5 for making 10+ listing a month. Go with pro!</p>
                            </div>
                            <div class="tp-promotion-link">
                                <a href="listing-ads.html">unlimited ads</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- promotion-ads area end -->
<!-- faq area start -->
<div class="tp-faq-area p-relative fix z-index pt-115 pb-120">
    <div class="tp-faq-big-text">
        <span>FAQ</span>
    </div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-5 col-lg-6 order-1 order-lg-0 wow tpfadeLeft" data-wow-duration=".9s"
                 data-wow-delay=".5s">
                <div class="tp-faq-thumb-box p-relative">
                    <div class="tp-faq-thumb">
                        <img src="/img/faq/faq-1-1.png" alt="">
                    </div>
                    <div class="tp-faq-circle d-none d-xl-block">
                        <img src="/img/faq/shape-1-1.png" alt="">
                    </div>
                </div>
            </div>
            <div class="col-xl-7 col-lg-6 order-0 order-lg-1 wow tpfadeRight" data-wow-duration=".9s"
                 data-wow-delay=".7s">
                <div class="tp-faq-right">
                    <div class="tp-faq-title-box pb-55">
                        <span class="tp-section-subtitle-3">FAQ & Answers</span>
                        <h4 class="tp-section-title">Get every <span>answers</span></h4>
                    </div>
                    <div class="tp-custom-accordion pb-5">
                        <div class="accordion" id="accordionExample">
                            <div class="accordion-items tp-faq-active">
                                <h2 class="accordion-header" id="headingOne1">
                                    <button class="accordion-buttons " type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseOne1" aria-expanded="true" aria-controls="collapseOne1">
                                        What services does it offer to users?
                                    </button>
                                </h2>
                                <div id="collapseOne1" class="accordion-collapse collapse show"
                                     aria-labelledby="headingOne1" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        Please note that specific details about listbnb.com may change over time, so it's a
                                        good idea to visit their official website or contact their customer support for the
                                        most up-to-date information.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-items">
                                <h2 class="accordion-header" id="headingTwo2">
                                    <button class="accordion-buttons collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseTwo2" aria-expanded="false" aria-controls="collapseTwo2">
                                        Either for listing items or completing transactions?
                                    </button>
                                </h2>
                                <div id="collapseTwo2" class="accordion-collapse collapse" aria-labelledby="headingTwo2"
                                     data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        Please note that specific details about listbnb.com may change over time, so it's a
                                        good idea to visit their official website or contact their customer support for the
                                        most up-to-date information.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-items">
                                <h2 class="accordion-header" id="headingThree3">
                                    <button class="accordion-buttons collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseThree3" aria-expanded="false"
                                            aria-controls="collapseThree3">
                                        When buying and selling items?
                                    </button>
                                </h2>
                                <div id="collapseThree3" class="accordion-collapse collapse"
                                     aria-labelledby="headingThree3" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        Please note that specific details about listbnb.com may change over time, so it's a
                                        good idea to visit their official website or contact their customer support for the
                                        most up-to-date information.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-items">
                                <h2 class="accordion-header" id="headingFour4">
                                    <button class="accordion-buttons collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseFour4" aria-expanded="false" aria-controls="collapseFour4">
                                        Is it limited to a specific user group??
                                    </button>
                                </h2>
                                <div id="collapseFour4" class="accordion-collapse collapse" aria-labelledby="headingFour4"
                                     data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        Please note that specific details about listbnb.com may change over time, so it's a
                                        good idea to visit their official website or contact their customer support for the
                                        most up-to-date information.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tp-faq-link text-end">
                        <a class="text-anim" href="faq.html"><i>30+</i> more related question</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- faq area end -->
<!-- listing area start -->
<div class="tp-listing-2-area fix">
    <div class="container">
        <div class="tp-listing-2-border pb-40 pt-110">
            <div class="row gx-50">
                <div class="col-xl-6 col-lg-6 mb-50 wow tpfadeUp" data-wow-duration=".9s" data-wow-delay=".3s">
                    <div class="tp-listing-2-title-box pb-55">
                        <span class="tp-section-subtitle-3">Hand-Picked</span>
                        <h4 class="tp-section-title">Hand-picked <span>listings</span></h4>
                    </div>
                    <div class="tp-listing-2-slider-box p-relative mb-30">
                        <div class="tp-listing-2-rating">
                            <span><i class="fa-solid fa-star"></i></span>
                        </div>
                        <div class="tp-listing-2-arrow-box">
                            <button class="list-prev">
                                <svg width="16" height="10" viewBox="0 0 16 10" fill="none"
                                     xmlns="../../../www.w3.org/2000/svg.html">
                                    <path d="M4.90625 9.64453C4.76562 9.82031 4.48438 9.82031 4.34375 9.64453L0.230469 5.56641C0.0546875 5.39062 0.0546875 5.14453 0.230469 4.96875L4.34375 0.890625C4.48438 0.714844 4.76562 0.714844 4.90625 0.890625L5.1875 1.13672C5.32812 1.3125 5.32812 1.55859 5.1875 1.73438L2.23438 4.65234H15.4531C15.6641 4.65234 15.875 4.86328 15.875 5.07422V5.42578C15.875 5.67188 15.6641 5.84766 15.4531 5.84766H2.23438L5.1875 8.80078C5.32812 8.97656 5.32812 9.22266 5.1875 9.39844L4.90625 9.64453Z"
                                          fill="currentcolor" />
                                </svg>
                            </button>
                            <button class="list-next">
                                <svg width="16" height="10" viewBox="0 0 16 10" fill="none"
                                     xmlns="../../../www.w3.org/2000/svg.html">
                                    <path d="M11.0586 0.890625C11.1992 0.714844 11.4805 0.714844 11.6562 0.890625L15.7344 4.96875C15.9102 5.14453 15.9102 5.39062 15.7344 5.56641L11.6562 9.64453C11.4805 9.82031 11.1992 9.82031 11.0586 9.64453L10.7773 9.39844C10.6367 9.22266 10.6367 8.97656 10.7773 8.80078L13.7305 5.84766H0.546875C0.300781 5.84766 0.125 5.67188 0.125 5.42578V5.07422C0.125 4.86328 0.300781 4.65234 0.546875 4.65234H13.7305L10.7773 1.73438C10.6367 1.55859 10.6367 1.3125 10.7773 1.13672L11.0586 0.890625Z"
                                          fill="currentcolor" />
                                </svg>
                            </button>
                        </div>
                        <div class="swiper-container tp-listing-2-active">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="tp-listing-2-item">
                                        <div class="tp-listing-2-thumb-box p-relative">
                                            <div class="tp-listing-2-thumb">
                                                <img src="/img/listing/listing-2-1.jpg" alt="">
                                            </div>
                                            <div class="tp-listing-2-content">
                                                <div class="tp-listing-2-meta pb-5">
                                                    <span><i class="fa-light fa-location-dot"></i> New York</span>
                                                    <span><i class="fa-light fa-clock"></i>1 Days ago</span>
                                                </div>
                                                <h4 class="tp-listing-2-title mb-20">
                                                    <a class="text-anim-2" href="listing-details-2.html">
                                                        New
                                                        downtown house with cool
                                                        pool
                                                    </a>
                                                </h4>
                                                <div class="tp-listing-2-price">
                                                    <span>$35,0000</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="tp-listing-2-item">
                                        <div class="tp-listing-2-thumb-box p-relative">
                                            <div class="tp-listing-2-thumb">
                                                <img src="/img/listing/listing-2-2.jpg" alt="">
                                            </div>
                                            <div class="tp-listing-2-content">
                                                <div class="tp-listing-2-meta pb-5">
                                                    <span><i class="fa-light fa-location-dot"></i> New York</span>
                                                    <span><i class="fa-light fa-clock"></i>1 Days ago</span>
                                                </div>
                                                <h4 class="tp-listing-2-title mb-20">
                                                    <a class="text-anim-2" href="listing-details-2.html">
                                                        Itox
                                                        minimal 6000 litter
                                                        freezer
                                                    </a>
                                                </h4>
                                                <div class="tp-listing-2-price">
                                                    <span>$4200</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 mb-30">
                            <div class="tp-listing-2-item tp-listing-2-item-style-2 d-flex align-items-center">
                                <div class="tp-listing-2-thumb-sm">
                                    <a href="listing-details-2.html"><img src="/img/listing/listing-3-1.jpg" alt=""></a>
                                </div>
                                <div class="tp-listing-2-content-box">
                                    <div class="tp-listing-2-meta pb-5">
                                        <span><i class="fa-light fa-location-dot"></i> New York</span>
                                    </div>
                                    <h4 class="tp-listing-2-title pb-10">
                                        <a class="text-anim" href="listing-details-2.html">
                                            Itox minimal 6000
                                            litter freezer
                                        </a>
                                    </h4>
                                    <div class="tp-listing-2-price">
                                        <span>$4200</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 mb-30">
                            <div class="tp-listing-2-item tp-listing-2-item-style-2 d-flex align-items-center">
                                <div class="tp-listing-2-thumb-sm">
                                    <a href="listing-details-2.html">
                                        <img src="/img/listing/listing-3-2.jpg" alt="">
                                    </a>
                                </div>
                                <div class="tp-listing-2-content-box">
                                    <div class="tp-listing-2-meta pb-5">
                                        <span><i class="fa-light fa-location-dot"></i> New York</span>
                                    </div>
                                    <h4 class="tp-listing-2-title pb-10">
                                        <a class="text-anim" href="listing-details-2.html">
                                            Timmon baseball
                                            hand gloves
                                        </a>
                                    </h4>
                                    <div class="tp-listing-2-price">
                                        <span>$299</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 mb-30">
                            <div class="tp-listing-2-item tp-listing-2-item-style-2 d-flex align-items-center">
                                <div class="tp-listing-2-thumb-sm">
                                    <a href="listing-details-2.html"><img src="/img/listing/listing-3-3.jpg" alt=""></a>
                                </div>
                                <div class="tp-listing-2-content-box">
                                    <div class="tp-listing-2-meta pb-5">
                                        <span><i class="fa-light fa-location-dot"></i> New York</span>
                                    </div>
                                    <h4 class="tp-listing-2-title pb-10">
                                        <a class="text-anim" href="listing-details-2.html">
                                            Aston martin
                                            classical house for sale
                                        </a>
                                    </h4>
                                    <div class="tp-listing-2-price">
                                        <span>$30,0000</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 mb-50 wow tpfadeUp" data-wow-duration=".9s" data-wow-delay=".s">
                    <div class="tp-listing-2-title-box pb-55">
                        <span class="tp-section-subtitle-3">Recently added</span>
                        <h4 class="tp-section-title">Recently added <span>listings</span></h4>
                    </div>
                    <div class="tp-listing-2-slider-box p-relative mb-30">
                        <div class="tp-listing-2-arrow-box">
                            <button class="list-2-prev">
                                <svg width="16" height="10" viewBox="0 0 16 10" fill="none"
                                     xmlns="../../../www.w3.org/2000/svg.html">
                                    <path d="M4.90625 9.64453C4.76562 9.82031 4.48438 9.82031 4.34375 9.64453L0.230469 5.56641C0.0546875 5.39062 0.0546875 5.14453 0.230469 4.96875L4.34375 0.890625C4.48438 0.714844 4.76562 0.714844 4.90625 0.890625L5.1875 1.13672C5.32812 1.3125 5.32812 1.55859 5.1875 1.73438L2.23438 4.65234H15.4531C15.6641 4.65234 15.875 4.86328 15.875 5.07422V5.42578C15.875 5.67188 15.6641 5.84766 15.4531 5.84766H2.23438L5.1875 8.80078C5.32812 8.97656 5.32812 9.22266 5.1875 9.39844L4.90625 9.64453Z"
                                          fill="currentcolor" />
                                </svg>
                            </button>
                            <button class="list-2-next">
                                <svg width="16" height="10" viewBox="0 0 16 10" fill="none"
                                     xmlns="../../../www.w3.org/2000/svg.html">
                                    <path d="M11.0586 0.890625C11.1992 0.714844 11.4805 0.714844 11.6562 0.890625L15.7344 4.96875C15.9102 5.14453 15.9102 5.39062 15.7344 5.56641L11.6562 9.64453C11.4805 9.82031 11.1992 9.82031 11.0586 9.64453L10.7773 9.39844C10.6367 9.22266 10.6367 8.97656 10.7773 8.80078L13.7305 5.84766H0.546875C0.300781 5.84766 0.125 5.67188 0.125 5.42578V5.07422C0.125 4.86328 0.300781 4.65234 0.546875 4.65234H13.7305L10.7773 1.73438C10.6367 1.55859 10.6367 1.3125 10.7773 1.13672L11.0586 0.890625Z"
                                          fill="currentcolor" />
                                </svg>
                            </button>
                        </div>
                        <div class="tp-listing-2-rating">
                            <span><i class="fa-solid fa-star"></i></span>
                        </div>
                        <div class="swiper-container tp-listing-2-active-2">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="tp-listing-2-item">
                                        <div class="tp-listing-2-thumb-box p-relative">
                                            <div class="tp-listing-2-thumb">
                                                <img src="/img/listing/listing-2-2.jpg" alt="">
                                            </div>
                                            <div class="tp-listing-2-content">
                                                <div class="tp-listing-2-meta pb-5">
                                                    <span><i class="fa-light fa-location-dot"></i> New York</span>
                                                    <span><i class="fa-light fa-clock"></i>1 Days ago</span>
                                                </div>
                                                <h4 class="tp-listing-2-title mb-20">
                                                    <a class="text-anim-2"
                                                       href="listing-details-2.html">
                                                        Microsoft surface laptop 3
                                                        core i5, 10th gen...
                                                    </a>
                                                </h4>
                                                <div class="tp-listing-2-price">
                                                    <span>$2500</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="tp-listing-2-item">
                                        <div class="tp-listing-2-thumb-box p-relative">
                                            <div class="tp-listing-2-thumb">
                                                <img src="/img/listing/listing-2-1.jpg" alt="">
                                            </div>
                                            <div class="tp-listing-2-content">
                                                <div class="tp-listing-2-meta pb-5">
                                                    <span><i class="fa-light fa-location-dot"></i> New York</span>
                                                    <span><i class="fa-light fa-clock"></i>1 Days ago</span>
                                                </div>
                                                <h4 class="tp-listing-2-title mb-20">
                                                    <a class="text-anim-2" href="listing-details-2.html">
                                                        Itox
                                                        minimal 6000 litter
                                                        freezer
                                                    </a>
                                                </h4>
                                                <div class="tp-listing-2-price">
                                                    <span>$4200</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 mb-30">
                            <div class="tp-listing-2-item tp-listing-2-item-style-2 d-flex align-items-center">
                                <div class="tp-listing-2-thumb-sm">
                                    <a href="listing-details-2.html"><img src="/img/listing/listing-3-4.jpg" alt=""></a>
                                </div>
                                <div class="tp-listing-2-content-box">
                                    <div class="tp-listing-2-meta pb-5">
                                        <span><i class="fa-light fa-location-dot"></i> New York</span>
                                    </div>
                                    <h4 class="tp-listing-2-title pb-10">
                                        <a class="text-anim" href="listing-details-2.html">
                                            Toshiba 2nd
                                            Gen.Laptop at Unbelievable
                                            Price
                                        </a>
                                    </h4>
                                    <div class="tp-listing-2-price">
                                        <span>$1200</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 mb-30">
                            <div class="tp-listing-2-item tp-listing-2-item-style-2 d-flex align-items-center">
                                <div class="tp-listing-2-thumb-sm">
                                    <a href="listing-details-2.html">
                                        <img src="/img/listing/listing-3-5.jpg" alt="">
                                    </a>
                                </div>
                                <div class="tp-listing-2-content-box">
                                    <div class="tp-listing-2-meta pb-5">
                                        <span><i class="fa-light fa-location-dot"></i> New York</span>
                                    </div>
                                    <h4 class="tp-listing-2-title pb-10">
                                        <a class="text-anim" href="listing-details-2.html">
                                            Eston high-end
                                            minimal sofa
                                        </a>
                                    </h4>
                                    <div class="tp-listing-2-price">
                                        <span>$650</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 mb-30">
                            <div class="tp-listing-2-item tp-listing-2-item-style-2 d-flex align-items-center">
                                <div class="tp-listing-2-thumb-sm">
                                    <a href="listing-details-2.html"><img src="/img/listing/listing-3-6.jpg" alt=""></a>
                                </div>
                                <div class="tp-listing-2-content-box">
                                    <div class="tp-listing-2-meta pb-5">
                                        <span><i class="fa-light fa-location-dot"></i> New York</span>
                                    </div>
                                    <h4 class="tp-listing-2-title pb-10">
                                        <a class="text-anim" href="listing-details-2.html">
                                            Philips classical
                                            oven (urgent
                                            sell)
                                        </a>
                                    </h4>
                                    <div class="tp-listing-2-price">
                                        <span>$5000</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- listing area end -->
<!-- testimonial area start -->
<div class="tp-testimonial-2-area tp-testimonial-2-overly fix z-index black-bg pt-110 pb-120"
     data-background="/img/testimonial/bg.jpg">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="tp-testimonial-2-title-box text-center pb-60">
                    <span class="tp-section-subtitle-4">Testimonials</span>
                    <h4 class="tp-section-title text-white">Users <span>feedbacks</span></h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-8 col-lg-8">
                <div class="tp-testimonial-2-slider-wrap p-relative">
                    <div class="swiper-container tp-testimonial-2-active">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="tp-testimonial-2-wrap d-flex align-items-center">
                                    <div class="tp-testimonial-2-thumb">
                                        <img src="/img/testimonial/author1-1.jpg" alt="">
                                    </div>
                                    <div class="tp-testimonial-2-content">
                                        <div class="tp-testimonial-2-rating pb-20">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </div>
                                        <div class="tp-testimonial-2-text pb-105">
                                            <p>
                                                " We love this app! Our designers were using it for their projects, so we
                                                already knew what kind of design they want. "
                                            </p>
                                        </div>
                                        <div class="tp-testimonial-2-author-box d-flex align-items-center justify-content-between">
                                            <div class="tp-testimonial-2-img">
                                                <img src="/img/testimonial/thumb-1-1.png" alt="">
                                            </div>
                                            <div class="tp-testimonial-2-author-info">
                                                <h5>Alonso D. Dowson</h5>
                                                <span>Head of Idea</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="tp-testimonial-2-wrap d-flex align-items-center">
                                    <div class="tp-testimonial-2-thumb">
                                        <img src="/img/testimonial/author1-2.jpg" alt="">
                                    </div>
                                    <div class="tp-testimonial-2-content">
                                        <div class="tp-testimonial-2-rating pb-20">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </div>
                                        <div class="tp-testimonial-2-text pb-105">
                                            <p>
                                                " We love this app! Our designers were using it for their projects, so we
                                                already knew what kind of design they want. "
                                            </p>
                                        </div>
                                        <div class="tp-testimonial-2-author-box d-flex align-items-center justify-content-between">
                                            <div class="tp-testimonial-2-img">
                                                <img src="/img/testimonial/thumb-1-1.png" alt="">
                                            </div>
                                            <div class="tp-testimonial-2-author-info">
                                                <h5>Dale Laboy</h5>
                                                <span>Head of Idea</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="tp-testimonial-2-wrap d-flex align-items-center">
                                    <div class="tp-testimonial-2-thumb">
                                        <img src="/img/testimonial/author1-3.jpg" alt="">
                                    </div>
                                    <div class="tp-testimonial-2-content">
                                        <div class="tp-testimonial-2-rating pb-20">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </div>
                                        <div class="tp-testimonial-2-text pb-105">
                                            <p>
                                                " We love this app! Our designers were using it for their projects, so we
                                                already knew what kind of design they want. "
                                            </p>
                                        </div>
                                        <div class="tp-testimonial-2-author-box d-flex align-items-center justify-content-between">
                                            <div class="tp-testimonial-2-img">
                                                <img src="/img/testimonial/thumb-1-1.png" alt="">
                                            </div>
                                            <div class="tp-testimonial-2-author-info">
                                                <h5>Terry Strand</h5>
                                                <span>Head of Idea</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tp-testimonial-2-arrow-box">
                        <button class="test-next">
                            <span>
                                <svg width="16" height="10" viewBox="0 0 16 10" fill="none"
                                     xmlns="../../../www.w3.org/2000/svg.html">
                                    <path d="M4.90625 9.64453C4.76562 9.82031 4.48438 9.82031 4.34375 9.64453L0.230469 5.56641C0.0546875 5.39062 0.0546875 5.14453 0.230469 4.96875L4.34375 0.890625C4.48438 0.714844 4.76562 0.714844 4.90625 0.890625L5.1875 1.13672C5.32812 1.3125 5.32812 1.55859 5.1875 1.73438L2.23438 4.65234H15.4531C15.6641 4.65234 15.875 4.86328 15.875 5.07422V5.42578C15.875 5.67188 15.6641 5.84766 15.4531 5.84766H2.23438L5.1875 8.80078C5.32812 8.97656 5.32812 9.22266 5.1875 9.39844L4.90625 9.64453Z"
                                          fill="currentcolor" />
                                </svg>
                            </span>
                        </button>
                        <button class="test-prev">
                            <span>
                                <svg width="16" height="10" viewBox="0 0 16 10" fill="none"
                                     xmlns="../../../www.w3.org/2000/svg.html">
                                    <path d="M11.0586 0.890625C11.1992 0.714844 11.4805 0.714844 11.6562 0.890625L15.7344 4.96875C15.9102 5.14453 15.9102 5.39062 15.7344 5.56641L11.6562 9.64453C11.4805 9.82031 11.1992 9.82031 11.0586 9.64453L10.7773 9.39844C10.6367 9.22266 10.6367 8.97656 10.7773 8.80078L13.7305 5.84766H0.546875C0.300781 5.84766 0.125 5.67188 0.125 5.42578V5.07422C0.125 4.86328 0.300781 4.65234 0.546875 4.65234H13.7305L10.7773 1.73438C10.6367 1.55859 10.6367 1.3125 10.7773 1.13672L11.0586 0.890625Z"
                                          fill="currentcolor" />
                                </svg>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4">
                <div class="tp-testimonial-2-right">
                    <div class="tp-testimonial-2-revenue-item revenue-item-style-1 mb-20">
                        <h5 class="tp-testimonial-2-revenue-number">4.9x</h5>
                        <h4 class="tp-testimonial-2-revenue-title">Yearly Revenue</h4>
                        <span>Another way to grow fast</span>
                    </div>
                    <div class="tp-testimonial-2-revenue-item revenue-item-style-2 mb-20">
                        <h5 class="tp-testimonial-2-revenue-number">90%</h5>
                        <h4 class="tp-testimonial-2-revenue-title">Monthly Revenue</h4>
                        <span>Another way to grow fast</span>
                    </div>
                    <div class="tp-testimonial-2-revenue-item revenue-item-style-3">
                        <h5 class="tp-testimonial-2-revenue-number">4.9</h5>
                        <h4 class="tp-testimonial-2-revenue-title">Employee Ratings</h4>
                        <span>Another way to grow fast</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- testimonial area end -->
<!-- blog area start -->
<div class="tp-blog-2-area p-relative fix pt-115 pb-80">
    <div class="tp-blog-2-shape-1">
        <img src="/img/blog/shape-2-1.png" alt="">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="tp-blog-2-title-box text-center pb-65">
                    <span class="tp-section-subtitle-3">News & Info</span>
                    <h4 class="tp-section-title">News & <span>insights</span></h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-30 wow tpfadeUp" data-wow-duration=".9s"
                 data-wow-delay=".3s">
                <div class="tp-blog-2-item">
                    <div class="tp-blog-2-thumb-box p-relative mb-30">
                        <div class="tp-blog-2-thumb">
                            <a href="blog-details.html"><img src="/img/blog/thumb-2-1.jpg" alt=""></a>
                        </div>
                        <div class="tp-blog-2-date-wrap">
                            <div class="tp-blog-2-date">
                                <i>28</i>
                                <span>Mar</span>
                            </div>
                        </div>
                    </div>
                    <div class="tp-blog-2-content">
                        <div class="tp-blog-meta">
                            <span class="color">By <i>Alson D.</i></span>
                            <span><i class="fa-light fa-bookmark"></i> Product, Market</span>
                        </div>
                        <h4 class="tp-blog-2-title  mb-35">
                            <a class="text-anim" href="blog-details.html">
                                Feedback based on your actual use
                                and observations.
                            </a>
                        </h4>
                        <div class="tp-blog-2-link">
                            <a href="blog-details.html">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-30 wow tpfadeUp" data-wow-duration=".9s"
                 data-wow-delay=".5s">
                <div class="tp-blog-2-item">
                    <div class="tp-blog-2-thumb-box p-relative mb-30">
                        <div class="tp-blog-2-thumb">
                            <a href="blog-details.html"><img src="/img/blog/thumb-2-2.jpg" alt=""></a>
                        </div>
                        <div class="tp-blog-2-date-wrap">
                            <div class="tp-blog-2-date">
                                <i>20</i>
                                <span>Mar</span>
                            </div>
                        </div>
                    </div>
                    <div class="tp-blog-2-content">
                        <div class="tp-blog-meta">
                            <span class="color">By <i>Alson D.</i></span>
                            <span><i class="fa-light fa-bookmark"></i> Product, Market</span>
                        </div>
                        <h4 class="tp-blog-2-title  mb-35">
                            <a class="text-anim" href="blog-details.html">
                                The website is well-organized, &
                                making it easy to discover...
                            </a>
                        </h4>
                        <div class="tp-blog-2-link">
                            <a href="blog-details.html">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-30 wow tpfadeUp" data-wow-duration=".9s"
                 data-wow-delay=".7s">
                <div class="tp-blog-2-item">
                    <div class="tp-blog-2-thumb-box p-relative mb-30">
                        <div class="tp-blog-2-thumb">
                            <a href="blog-details.html"><img src="/img/blog/thumb-2-3.jpg" alt=""></a>
                        </div>
                        <div class="tp-blog-2-date-wrap">
                            <div class="tp-blog-2-date">
                                <i>10</i>
                                <span>Dec</span>
                            </div>
                        </div>
                    </div>
                    <div class="tp-blog-2-content">
                        <div class="tp-blog-meta">
                            <span class="color">By <i>Alson D.</i></span>
                            <span><i class="fa-light fa-bookmark"></i> Product, Market</span>
                        </div>
                        <h4 class="tp-blog-2-title  mb-35">
                            <a class="text-anim" href="blog-details.html">
                                Misleading reviews can erode
                                trust in online reviews and harm...
                            </a>
                        </h4>
                        <div class="tp-blog-2-link">
                            <a href="blog-details.html">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- blog area end -->
@code {
    protected override async Task OnInitializedAsync()
    {
        LayoutService.SetHeaderProperties("tp-header-ptb tp-header-style-2", isHeaderTransparent: true); // Home header class
    }
}