@page
@model LoginModel
@{
    ViewData["Title"] = "Login";
}

<div class="col-xl-6 col-lg-6">
    <div class="tp-login-wrapper text-center">
        <P class="pb-20"><i>WISBulletin</i> A Centralized Ads Platform in Wisconsin Dells, Where The Best Services, Deals, and Products are Found...</P>
        <h4 class="tp-login-title pb-30">Log In To Your Account</h4>
        <div class="tp-login-option">
            <form id="login-form" method="post">
                <div class="tp-login-social d-flex align-items-center justify-content-center mb-20">
                    <div class="tp-login-option-item">
                        <a href="#">Facebook<i class="fa-brands fa-facebook-f"></i></a>
                    </div>
                    <div class="tp-login-option-item">
                        <a href="#">Google<i class="fa-brands fa-google google"></i></a>
                    </div>
                </div>
                <div class="tp-login-mail mb-15">
                    <p>or Continue with email password</p>
                </div>
                <div class="tp-login-input-wrapper mb-20">
                    <div class="row gx-20">
                        <div class="col-lg-12 col-md-12 col-sm-12 mb-20">
                            <div class="tp-login-input-box text-start">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 mb-20">
                            <div class="tp-login-input-box text-start">
                                <label>User email <i>*</i></label>
                                <div class="tp-login-input p-relative">
                                    <input asp-for="Input.Email" class="w-100" autocomplete="username" aria-required="true" placeholder="Type here" />
                                    <div class="tp-login-input-icon">
                                        <span>
                                            <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="../../../www.w3.org/2000/svg.html">
                                                <path d="M13.5078 5.26172C13.8086 5.50781 14 5.86328 14 6.27344V13.4375C14 14.1758 13.3984 14.75 12.6875 14.75H1.3125C0.574219 14.75 0 14.1758 0 13.4375V6.27344C0 5.86328 0.164062 5.50781 0.464844 5.26172C0.574219 5.17969 3.5 2.82812 4.15625 2.28125C4.78516 1.78906 5.79688 0.75 7 0.75C8.17578 0.75 9.21484 1.81641 9.81641 2.28125C10.4453 2.80078 13.3711 5.15234 13.5078 5.26172ZM12.6875 13.2734V6.35547C12.6875 6.30078 12.6602 6.24609 12.6055 6.21875C12.168 5.86328 9.625 3.83984 8.99609 3.32031C8.50391 2.9375 7.62891 2.0625 7 2.0625C6.34375 2.0625 5.46875 2.91016 4.97656 3.32031C4.34766 3.83984 1.80469 5.86328 1.36719 6.21875C1.3125 6.24609 1.3125 6.30078 1.3125 6.35547V13.2734C1.3125 13.3828 1.36719 13.4375 1.47656 13.4375H12.5234C12.6055 13.4375 12.6875 13.3828 12.6875 13.2734ZM11.8125 8.16016C11.9219 8.29688 11.8945 8.51562 11.7578 8.625C10.9648 9.25391 10.1172 9.91016 9.81641 10.1836C9.1875 10.6758 8.17578 11.6875 7 11.6875C5.79688 11.6875 4.75781 10.6484 4.15625 10.1836C3.85547 9.9375 3.00781 9.25391 2.21484 8.625C2.07812 8.51562 2.05078 8.29688 2.16016 8.16016L2.59766 7.64062C2.70703 7.50391 2.89844 7.47656 3.0625 7.61328C3.82812 8.24219 4.64844 8.89844 4.97656 9.14453C5.46875 9.52734 6.34375 10.375 7 10.375C7.62891 10.375 8.50391 9.55469 8.99609 9.14453C9.32422 8.89844 10.1445 8.24219 10.9102 7.61328C11.0742 7.47656 11.2656 7.50391 11.375 7.64062L11.8125 8.16016Z" fill="currentcolor" />
                                            </svg>
                                        </span>
                                    </div>
                                </div>
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 mb-20">
                            <div class="tp-login-input-box text-start">
                                <label>Password <i>*</i></label>
                                <div class="tp-login-input p-relative">
                                    <input asp-for="Input.Password" class="w-100" autocomplete="new-password" aria-required="true" placeholder="Type here" />
                                    <div class="tp-login-input-icon">
                                        <span>
                                            <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="../../../www.w3.org/2000/svg.html">
                                                <path d="M8.75 2.0625C6.5625 2.0625 4.8125 3.83984 4.8125 6C4.8125 6.02734 4.8125 6.02734 4.8125 6.02734C4.8125 6.41016 4.86719 6.79297 4.97656 7.14844L1.3125 10.8125V13.4375H3.9375V12.125H5.25V10.8125H6.125L7.27344 9.66406C7.71094 9.85547 8.23047 9.9375 8.75 9.9375C10.9102 9.9375 12.6875 8.1875 12.6875 6C12.6875 3.83984 10.9102 2.0625 8.75 2.0625ZM8.75 0.75C11.6484 0.75 14 3.10156 14 6C14 8.92578 11.6484 11.25 8.75 11.25C8.36719 11.25 8.01172 11.2227 7.65625 11.1406L6.5625 12.2344V12.7812C6.5625 13.1641 6.26172 13.4375 5.90625 13.4375H5.25V14.0938C5.25 14.4766 4.94922 14.75 4.59375 14.75H0.65625C0.273438 14.75 0 14.4766 0 14.0938V10.5664C0 10.375 0.0546875 10.2109 0.191406 10.1016L3.52734 6.73828C3.5 6.49219 3.5 6.24609 3.5 6C3.5 3.10156 5.82422 0.75 8.75 0.75ZM8.75 4.6875C8.75 3.97656 9.32422 3.375 10.0625 3.375C10.7734 3.375 11.375 3.97656 11.375 4.6875C11.375 5.42578 10.7734 6 10.0625 6C9.32422 6 8.75 5.42578 8.75 4.6875Z" fill="currentcolor" />
                                            </svg>
                                        </span>
                                    </div>
                                </div>
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 tp-footer-2-widget-form">
                            <div class="form-check mb-20">
                                <input class="form-check-input" asp-for="Input.RememberMe" id="flexCheckDefault" style="margin-top: 7px; cursor: pointer;" />
                                <label class="form-check-label text-start w-100" for="flexCheckDefault" style="cursor: pointer;">
                                    <strong>
                                        Remember me.
                                    </strong>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tp-login-btn mb-20">
                    <button class="tp-btn-theme" id="login-submit" type="submit">
                        <span>Sign In <i class="fa-sharp fa-regular fa-arrow-right-long"></i></span>
                    </button>
                </div>
                <div class="tp-login-forgot">
                    <a href="#">Forgot Password?</a>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="col-xl-6 col-lg-6">
    <div class="tp-login-right text-center">
        <div class="tp-login-thumb mb-30">
            <img src="~/img/login/thumb-1-2.png" alt="">
        </div>
        <h4 class="tp-login-title pb-20">Don’t Have Account?</h4>
        <div class="tp-login-text mb-30">
            <p>To connect with us please sign up for a new account if you are not having one already.</p>
        </div>
        <div class="tp-login-btn">
            <a asp-area="Identity" asp-page="/Account/Register"  class="tp-btn-theme">
                <span>Sign Up Now<i class="fa-sharp fa-regular fa-arrow-right-long"></i></span>
            </a>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        let loading = $('#loading');

        $('#login-submit').click(function () {
            if ($("#login-form").valid()) {
                loading.addClass('opacity-10');
                loading.show();
            }
        });
    </script>
}
