@page "/error"
@model ErrorModel
@{
    Layout = "~/Pages/Shared/_Errorlayout.cshtml";
    ViewData["Title"] = "Error";
}

<h6 class="tp-error-big-text">Error</h6>
<h3 class="tp-error-number">Error</h3>


@* <div class="main">
        <div class="content px-4">
            <h1 class="text-danger">Error.</h1>
            <h2 class="text-danger">An error occurred while processing your request.</h2>

            @if (Model.ShowRequestId)
            {
                <p>
                    <strong>Request ID:</strong> <code>@Model.RequestId</code>
                </p>
            }
        </div>
    </div> *@